<script type="module">
//    import 'https://www.verovio.org/javascript/app/verovio-app.js';

    import 'https://www.verovio.org/javascript/develop/verovio-toolkit-wasm.js';

    // Create the app - here with an empty option object
   // const app = new Verovio.App(document.getElementById("viewer"), {});


/* wait for page to load */

document.addEventListener("DOMContentLoaded", (event) => {
    verovio.module.onRuntimeInitialized = function () {
        // This line initializes the Verovio toolkit
        const tk = new verovio.toolkit();
        tk.setOptions({
        scale: 40,
        adjustPageHeight: true
        });



    // Load a file (MEI or MusicXML)
    fetch("{{ site.baseurl }}/meimidi/meiEdit/{{ page.meifile }}")
        .then(function(response) {
            return response.text();
        })
        .then(function(text) {
            tk.loadData(text);
            let svg = tk.renderToSVG(1);
            document.getElementById("viewer").innerHTML = svg;
                     console.log("Verovio options:", tk.getOptions());
        });
     }
 });
</script>
