---
layout: default
---

  {% include fragTitle.html %}

  {% include fragImg.html %}

<br/>

  {% include navButtons.html %}



  <div class="fragment">
  {{ content }}
  </div>


<script></script>
<!--
   <button class="nav" id="scaleUp">+</button>
   <button class="nav" id="scaleDown">&#8211;</button>
-->
<!-- SVG div -->
<div id="viewer"/>

<!--  MIDI Player div-->
<div style="height: 30px;">
    <div id="player" style="z-index: 20; position: absolute; display: none;"></div>
</div>

<!--
verovio script for outputting, playing,
displaying midi.
-->
{% include verovioScript.html %}
